/* .App {
  text-align: center;
} */


.search-box {
  background-color: rgb(243, 206, 86);
  height: 50%;
  width: 90%;
  margin: auto;
  padding: 8px 30px 8px 20px;
}

.search-box > h2 {
  text-align: left;
}

.search-form {
  /* display: block; */
}

.search-form > label {
  /* flex-direction: column;  */
  text-align: left;
  color: rgb(68, 68, 68);
}

.search-form > input {
  /* position: relative; */
  /* display: block; */
  width: 100%;
  height: 48px;
  border: 2.5px solid rgb(98, 181, 217);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(98, 181, 217);
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  text-indent: 10px;
}

::placeholder {
  color:rgb(145, 145, 145);
}

ul {
  width: 100%;
  list-style: none;
  max-height: 160px;
  overflow: auto;
  background-color: white;
  padding: 5px 5px 5px 0;
  margin: 0;
}

li {
  padding: 5px;
}






