.App {
  height: 100vh;
  /* text-align: center; */
  background-color: rgb(8, 112, 186);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.search-box {
  background-color: rgb(243, 206, 86);
  width: 70%;
  margin: auto;
  padding: 8px 30px 8px 20px;
  position: relative;
  top: 10%;
}

.search-box>h2 {
  text-align: left;
}

.search-form>label {
  text-align: left;
  color: rgb(68, 68, 68);
}

.search-form>input {
  width: 100%;
  height: 48px;
  border: 2.5px solid rgb(98, 181, 217);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(98, 181, 217);
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  text-indent: 10px;
}

::placeholder {
  color: rgb(145, 145, 145);
}

ul {
  width: 100%;
  list-style: none;
  max-height: 160px;
  overflow: auto;
  background-color: white;
  padding: 5px 5px 5px 0;
  margin: 0;
}

li {
  padding: 5px;
}

button {
  display: block;
  height: 64px;
  line-height: 64px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  border: 1px solid transparent;
  outline: 0;
  background-color: rgb(0, 135, 77);
  cursor: pointer;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 20px;
}

.search {
  display: block;
  line-height: 1em;
  font-size: 1.75em;
  font-weight: 700;
}